<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/css/bienvenida.css">
  	<link rel="shortcut icon" href="resources/css/logoFICCT.jpg" type="image/x-icon">
    <title>Entrar al sitio | D. Secuencia</title>
    <style>      
    
    </style>
  </head>
  <body>       
    <% if (login) { %> 
    <h1>Usuario conectado: <strong><%= name %></strong></h1>    
    <a href="/proyecto" class="link-button">Ir a la página principal</a>
    <%} else { %>
    <a href="logout" class="link-button">Ir al login</a> 
    <% } %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   <h1>Bienvenidos a DiagraSpring</h1>
          <p>
            DiagraSpring es una innovadora página web diseñada para crear diagramas de clase de forma rápida y eficiente. Su enfoque colaborativo permite que varios usuarios trabajen juntos en tiempo real, facilitando la planificación y diseño de sistemas de software. Con DiagraSpring, equipos de desarrollo pueden visualizar fácilmente la estructura de sus proyectos, optimizando la creación de soluciones y mejorando la colaboración entre desarrolladores y diseñadores.
          </p>

          <img src="resources/css/logo-app.svg" alt="logo" class="imagen">
  </body>
</html>